<!doctype html>
<html>

<head>
  <meta charset="utf-8" />
  <title>Penrose Generated Visualization</title>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">


</head>

<body>
  <!--
    JSPM Generator Import Map
    Edit URL: https://generator.jspm.io/#U2VhYGBkTM4vSmVwKEjNK8ovTtUH8RyM9Qz0DAA+kyABHgA
  -->
  <script type="importmap">
      {
        "imports": {
          "@penrose/core": "https://ga.jspm.io/npm:@penrose/core@3.2.0/dist/index.js"
        },
        "scopes": {
          "https://ga.jspm.io/": {
            "@datastructures-js/queue": "https://ga.jspm.io/npm:@datastructures-js/queue@4.2.3/index.js",
            "@penrose/optimizer": "https://ga.jspm.io/npm:@penrose/optimizer@3.2.0/dist/index.js",
            "consola": "https://ga.jspm.io/npm:consola@2.15.3/dist/consola.browser.js",
            "crypto": "https://ga.jspm.io/npm:@jspm/core@2.0.1/nodelibs/browser/crypto.js",
            "immutable": "https://ga.jspm.io/npm:immutable@4.3.1/dist/immutable.es.js",
            "lodash": "https://ga.jspm.io/npm:lodash@4.17.21/lodash.js",
            "mathjax-full/js/": "https://ga.jspm.io/npm:mathjax-full@3.2.2/js/",
            "mhchemparser/dist/mhchemParser.js": "https://ga.jspm.io/npm:mhchemparser@4.2.1/dist/mhchemParser.js",
            "moo": "https://ga.jspm.io/npm:moo@0.5.2/moo.js",
            "nearley": "https://ga.jspm.io/npm:nearley@2.20.1/lib/nearley.js",
            "poly-partition": "https://ga.jspm.io/npm:poly-partition@1.0.2/lib/index.js",
            "seedrandom": "https://ga.jspm.io/npm:seedrandom@3.0.5/index.js",
            "true-myth": "https://ga.jspm.io/npm:true-myth@4.1.1/dist/cjs/index.js"
          }
        }
      }
    </script>

  <!-- ES Module Shims: Import maps polyfill for olrder browsers without import maps support (eg Safari 16.3) -->
  <script async src="https://ga.jspm.io/npm:es-module-shims@1.7.3/dist/es-module-shims.js"
    crossorigin="anonymous"></script>

  <script type="module">
    import { compile, optimize, toSVG, showError } from "@penrose/core";
    const trio = {
      substance: `<%- substance %>`,
      domain: `<%- domain %>`,
      style: `<%- style %>`,
      variation: `test`  // What is this?
    };
    const compiled = await compile(trio);
    if (compiled.isErr()) console.error(showError(compiled.error));
    const optimized = optimize(compiled.value);
    if (optimized.isErr()) console.error(showError(optimized.error));
    document
      .getElementById("penrose")
      .appendChild(await toSVG(optimized.value));
  </script>

  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>



  <div class="container">
    <h1> Penrose Generated Graph </h1>

    <p>
      For some reason, the Penrose diagram here does not render as well as when using the standalone Penrose webpage. While these diagrams are not ideal (read: ugly)
      everywhere, they are particularly bad here.

      For the best experience, copy the domain, substance, and style into the Penrose editor at <a href="https://penrose.cs.cmu.edu/try/">https://penrose.cs.cmu.edu/try/</a>.

    </p>
    <div class="btn-group" role="group">
      <button type="button" class="btn btn-outline-secondary"><a href="#penrose"> Penrose Diagram </a></button>
      <button type="button" class="btn btn-outline-secondary"><a href="#domain"> Domain </a></button>
      <button type="button" class="btn btn-outline-secondary"><a href="#substance"> Substance </a></button>
      <button type="button" class="btn btn-outline-secondary"><a href="#style"> Style </a></button>
    </div>

    <hr>

    <div class="container">
      <div id="penrose"></div>
    </div>

    <hr>

    <div id="domain" class="container">
      <h2>Domain</h2>
      <pre><%- domain %></pre>
    </div>


    <div id="substance" class="container">
      <h2>Substance</h2>
      <pre><%- substance %></pre>
    </div>
    <hr>

    <div id="style" class="container">
      <h2>Style</h2>
      <pre><%- style %></pre>
    </div>
    <hr>






  </div>

</body>

</html>