<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>Cope and Drag</title>

    <!-- Include Bootstrap CSS, JQuery, etc -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <link rel="icon" type="image/svg+xml" href="/img/logo.svg">
    <link rel="stylesheet" href="/css/diagramstyle.css">

    <script src="https://marvl.infotech.monash.edu/webcola/extern/graphlib-dot.min.js"></script>
    <!-- Full version -->
    <script src="https://marvl.infotech.monash.edu/webcola/cola.min.js"></script>

    <!-- Include d3 here -->
    <script src="https://d3js.org/d3.v4.min.js"></script>

    <!-- Include your custom JavaScript file -->
    <script src="/js/renderer.js" defer></script>
    <script>
        window.addEventListener('load', function () {

            const primary = {
                width: <%- width %>,
                height: <%- height %>,
                nodes: <%- JSON.stringify(colaNodes) %>,
                edges: <%- JSON.stringify(colaEdges) %>,
                constraints: <%- JSON.stringify(colaConstraints) %>,
                groups: <%- JSON.stringify(colaGroups) %>,
            };

            const neighbor = {
                width: <%- temporalNeighbor ? temporalNeighbor.width : 0 %>,
                height: <%- temporalNeighbor ? temporalNeighbor.height : 0 %>,
                nodes: <%- temporalNeighbor ? JSON.stringify(temporalNeighbor.colaNodes) : '[]' %>,
                edges: <%- temporalNeighbor ? JSON.stringify(temporalNeighbor.colaEdges) : '[]' %>,
                constraints: <%- temporalNeighbor ? JSON.stringify(temporalNeighbor.colaConstraints) : '[]' %>,
                groups: <%- temporalNeighbor ? JSON.stringify(temporalNeighbor.colaGroups) : '[]' %>,
            };

            if (primary.width && primary.height && primary.nodes && primary.edges && primary.constraints && primary.groups) {
                setupLayout(d3, primary.nodes, primary.edges, primary.constraints, primary.groups, primary.width, primary.height, "svg-primary");
            } else {
                console.error('Missing required data for layout');
            }

            if (neighbor.width && neighbor.height && neighbor.nodes && neighbor.nodes.length > 0) {
                setupLayout(d3, neighbor.nodes, neighbor.edges, neighbor.constraints, neighbor.groups, neighbor.width, neighbor.height, "svg-next");
            }
        });
    </script>

    <script type="module">
        import mermaid from 'https://cdn.jsdelivr.net/npm/mermaid@10/dist/mermaid.esm.min.mjs';
        const config = {
            startOnLoad: true,
            flowchart: { useMaxWidth: true, htmlLabels: true, curve: 'cardinal' },
            securityLevel: 'loose',
        };
        mermaid.initialize(config);

        window.stateclick = function (i) {
            // First, set the instance number's value to i
            document.getElementById('instancenumber').value = i;
            // Now submit the form
            document.getElementById('controlsForm').submit();
        };
    </script>

    
</head>

<body>
    <nav class="navbar navbar-light bg-light">
        <h3 class="navbar-brand">Cope and Drag</h3>
        <a href="https://sidprasad.github.io/copeanddrag/" target="_blank"><button>Read the docs</button></a>
       
    </nav>
    <% if (errors && errors.trim().length > 0) { %>
        
        <div id="error_messages" class="alert alert-danger">
            <h4>CnD Error</h4>
            <%- errors %>
        </div>
    <% } %>

    <div id="runtime_messages" class="container">


    </div>

    <div class="container-fluid">



        <%- include('temporalminimap') %>

        <div class="row">
            <%- include('relationTable') %>
            <%- include('temporalsidebyside') %>

            <%- include('controls') %>
        </div>
        <div class="row">

        </div>
    </div>

</body>




</html>